body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  background-image: url('./assets/j.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: saturate(20%);
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  position: absolute;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.institute-name {
  color: white;
  font-size: 18px;
}

.signup-link {
  color: white;
  text-decoration: none;
  margin-left: auto;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
  z-index: 2;
  width: 400px;
}

.login-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input-field {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.input-field::placeholder {
  color: white;
}

.dropdown-container {
  width: 100%;
}

.dropdown {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 30%;
  box-sizing: border-box;
}

.login-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(161, 161, 161, 0.2);
  color: white;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.237);
}

.login-button span {
  display: block;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.signup-redirect {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.signup-redirect a {
  color: #00b7ff;
  text-decoration: none;
}

.signup-redirect a:hover {
  text-decoration: underline;
}

.copyright {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}
